{% load static %}
<nav class="navbar  m-0 p-0 nn">
    <div class="container-fluid m-0 p-0">
      <form class="d-flex" role="search">
        <button class="btn " type="submit"><img src="{% static 'images/back.png' %}" alt=""></button>
        <button class="btn " type="submit"><img src="{% static 'images/forward.png' %}" alt=""></button>
      </form>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active sg" aria-current="page" href="#">Sign in</a>
        </li>
        <li class="nav-item">
         <!-- HTML !-->


          <a>
            <button class="button-18 btn-light lg" role="button">Login</button>
          </a>
        </li>
       
        
      </ul>
      
    </div>
  </nav>
